<h1>Месторождения</h1>

<p *ngIf="!fields"><em>Загрузка...</em></p>

<input type="button" value="Добавить" (click)="add()" class="btn btn-primary" />
<table class='table table-striped' *ngIf="fields">
  <thead>
    <tr>
      <th>ID</th>
      <th>Наименование</th>
      <th>Резервы</th>
      <th>Компания</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let field of fields">
      <ng-template [ngTemplateOutlet]="loadTemplate(field)"
                   [ngTemplateOutletContext]="{ $implicit: field}">
      </ng-template>
    </tr>
  </tbody>
</table>
<div>{{statusMessage}}</div>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-field>
  <td>{{ field.id }}</td>
  <td>{{ field.name }}</td>
  <td>{{ field.reserve }}</td>
  <td>{{ field.companyEntity.name }}</td>
  <td><input type="button" value="Изменить" (click)="edit(field)" class="btn btn-warning" /></td>
  <td><input type="button" value="Удалить" (click)="delete(field)" class="btn btn-danger" /></td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
  <td><input type="text" [(ngModel)]="editedField.id" readonly disabled class="form-control" /></td>
  <td><input type="text" [(ngModel)]="editedField.name" class="form-control" /></td>
  <td><input type="text" [(ngModel)]="editedField.reserve" class="form-control" /></td>
  <td>
    <select [(ngModel)]="editedField.companyId" class="form-control">
      <option value="" disabled>Выберите Компанию</option>
      <option *ngFor="let company of companies" [ngValue]="company.id">{{ company.name }}</option>
    </select>
  </td>
  <td><input type="button" value="Сохранить" (click)="save()" class="btn btn-success" /></td>
  <td><input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" /></td>
</ng-template>
